DataSource.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema targetNamespace="sensite/dataSource"
    elementFormDefault="qualified"
    xmlns="sensite/dataSource"
    xmlns:mstns="sensite/dataSource"
    xmlns:xs="http://www.w3.org/2001/XMLSchema"
>
  <xs:complexType name="sensorType">
    
  </xs:complexType>
  <xs:complexType name="humanType">
    
  </xs:complexType>
  <xs:complexType name="dataSourceType">
    <xs:choice>
      <xs:element name="human" type="humanType" />
      <xs:element name="sensor" type="sensorType" />
    </xs:choice>
  </xs:complexType>
</xs:schema>
